body {
  background-color: rgb(0, 78, 78);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #555;
}

/* Colors used include:
    - #aaa;
    - #ccc;
    - #006060;
    - #008080;
*/
